*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	
	color: white;
	padding: 1rem;
	line-height: 1.7rem;
	background-color: #212121;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu-container > ul{
	list-style-type: none;
	color: white;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.menu-container ul li a {
	color: white;
	text-decoration: none;
}

.login-container {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

/* Input fields */
.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: all 0.3s ease;
}

.input-group input:focus {
  border-color: #2575fc;
  outline: none;
  box-shadow: 0 0 5px rgba(37, 117, 252, 0.3);
}

/* Login button */
button {
  width: 100%;
  padding: 12px;
  background-color: #2575fc;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #1a5edb;
}
